.content {
    max-width: min(90%,112rem);
}

#room header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons {
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: .8rem;
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2){
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(2) img{
    width: 2rem;
    height: 2rem;
}
#question-Form h2{
    font-family: 'Poppins';
    font-weight: 700;
    color: var(--black);
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
    line-height: 4.2rem;    
}

#question-Form form{
    border: .2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius: 0 .8rem .8rem .8rem;
    margin-bottom: 1.4rem;
}

#question-Form textarea{
    resize: none;
    background: none;
    outline: none;
    width: 100%;
}

#question-Form form textarea::placeholder{
    color: var(--grey-blue);
}

#question-Form form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#question-Form form footer > div{
    display: flex;
    align-items: center;
    color: var(--icons-details);
    font-size: 1.3rem;
}

#question-Form form footer > div img{
    margin-right: 0.5rem;
}

#question-Form form footer button{
    height: auto;
    padding: .8rem 2.4rem;
    line-height: 2.4rem;
}

.question-wrapper {
    background: var(--lightblue);
    margin-bottom: .8rem;
    border-radius: 0 .8rem .8rem .8rem;
    padding: 2.4rem;
}

.question-wrapper .questions-content {
    display: flex;
    align-items: flex-start;
}

.question-wrapper .questions-content .user{
    background: var(--blue);
    clip-path: circle();
    padding: 1.4rem;
}

.question-wrapper .questions-content p{
    margin-left: 1.6rem;
    word-break: break-word;
    display: flex;
    align-items: center;
    min-height: 5.2rem;
}

.question-wrapper .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question-wrapper .actions > a{
    display: flex;
    align-items: center;
}



.question-wrapper .actions > a >img{
    margin-right: .8rem;
}

.question-wrapper .actions > a+a{
    margin-left: 2.4rem;
}

.question-wrapper.read {
    background: var(--grey-medium);
}

.question-wrapper.read .questions-content .user{
    background: var(--grey-blue);
}
